.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	font-family: $main-font;
	font-weight: bold;
	max-height: 80px;
	background: #fff;
	
	&-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: fit-content;
		padding: 15px 5%;
		border-bottom: 1px solid #e4e4e4;
		box-sizing: border-box;
		z-index: 2;
	}

	&-logo {
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		text-decoration: none;
		color: #2c9c6e;
	}
}

.nav {
	&-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		list-style-type: none;
		margin: 0;
		margin-left: -260px;
		padding: 0 40px;
		border-right: 1px solid #e4e4e4;
		transition: 1s all;

		&.active {
			margin-left: 0;
			animation: showMenu 1s;
		}
	}

	&-item {
		padding: 10px 0;
		font-size: 1.5rem;
		letter-spacing: 2px;
		color: #363a41;
		transition: all .35s;
		cursor: pointer;
		opacity: 0.5;

		&:nth-child(1) {
			padding-top: 30px;
		}

		&:hover {
			opacity: 1;
			color: #2c9c6e;
			transform: translate(15px, 10px);
		}
	}
}

@keyframes showMenu {
	from {
		margin-left: -300px;
	}

	to {
		margin-left: 0;
	}
}